@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* সব মার্জিন এবং প্যাডিং রিসেট */
html, body, #app {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}